@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.noto-serif {
  font-family: "Noto Serif", serif;
}
.inter {
  font-family: "Inter", sans-serif;
}
.container{
    max-width: 1180px;
    margin: 25px auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 70px;
}
.navbar ul{
    display: flex;
    gap:30px;
    margin-top: 20px;
    list-style: none;  
}
.navbar ul a{
    text-decoration: none;
}
.navbar img{
    height: 100%;
}