@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.noto-serif {
  font-family: "Noto Serif", serif;
}
.inter {
  font-family: "Inter", sans-serif;
}
.container{
    max-width: 1180px;
    margin: 25px auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 70px;
}
.navbar ul{
    display: flex;
    gap:30px;
    margin-top: 20px;
    list-style: none;  
}
.navbar ul a{
    text-decoration: none;
}
.navbar img{
    height: 100%;
}

.banner{
    display: flex;
    justify-content: space-between;
    margin: 120px 0;
}
.text-color{
    color: #E95A08;
}
.p-tag{
    font-weight: 400;
    font-size: 22px;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.50);
}
.banner-left h1{
    font-weight: 700;
    font-size: 65px;
}
.banner-left{
    max-width: 550px;
    margin-top: auto;
}
.banner img{
    width: 100%;
}

.plant-top{
    max-width: 888px;
    margin: 50px auto;
    text-align: center;
}
.plant-top h2{
    font-weight: 700;
    font-size: 50px;
}
.plant-card{
    width: 100%;
    text-align: center;
}
.plant-p1{
    font-weight: 500;
    font-size: 22px;
    margin-top: 10px;
}
.plant-p2{
    font-weight: 700;
    font-size: 22px;
    margin: 8px 0;
}
.card-btn{
    background-color: #E95A08;
    color: white;
    width: 270px;;
    text-align: center;
    border: none;
    padding: 10px 0;
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 30px;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.plant-img{
    width: 100%;
}
.image-lover {
  position: relative;
}

.image-lover img {
  width: 100%;
  height: 100%;
}

.image-lover .badge {
  position: absolute;
  top: -130px;
  left: 380px;
  width: 300px;
  height: auto;
}

.lover{
    display: flex;
    margin: 100px auto;
}
.text-lover h1{
    font-weight: bold;
    font-size: 50px;
}
.text-lover li{
   font-size: 22px;
   color: rgba(0, 0, 0, 0.50);
   margin-top: 15px;
   line-height: 30px;
}
.text-lover{
    max-width: 530px;
    margin: 100px auto;
}

.join-img {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
  width: auto;
  height: 600px;
  margin: auto;
  padding: 40px 20px;
  text-align: center;
}

/* All offer cards */
.offer-card {
  color: white;
  border-radius: 15px;
  padding: 20px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offer-card h3 {
  font-size: 25px;
  margin-bottom: 10px;
}

.offer-card a {
  color: white;
  font-weight: bold;
}

.bloom {
  background-image: url("assets/deal-bloom.png");
}

.ana {
  background-image: url("assets/deal-ana.png");
}
.zabo {
  background-image: url("assets/deal-zabo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  grid-column: 2;
   grid-row: 1 / span 2; 
   border-radius: 15px;    
}
.big{
    font-size: 40px;
     color: white;
    margin-top: 200px;
}
.zabo a{
    color: white;
    font-size: 30px;
}

.hero {
  background-image: url(assets/news-letter-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding:120px 20px;
  text-align: center;
  color:white;
  margin: 50px auto;
  min-height: 530px
}
.hero h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 30px;
}
.subscribe-box {
  display: flex;
  max-width: 600px;
  margin: 0 auto;
}
.subscribe-box input {
  flex: 1;
  padding: 14px;
  font-size:16px;
}

.subscribe-box button {
  background-color: #f15a24;
  color: white;
  padding: 14px 25px;
  font-weight: bold;
  border: none;
}

.footer-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
.footer-brand img.logo {
  width: 120px;
  margin-bottom: 15px;
}
.footer-brand{
    margin-right: 10px;
}
.footer-links {
  display: flex;
  gap: 70px;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li a {
  text-decoration: none;
  color: #6B7280;
  display: block;
  margin-bottom: 30px;
}

.footer-social img{
  margin-left:25px
}
@media screen and (max-width:576px){
    .li-1,.li-2,.li-3 {
        display: none;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-left h1{
        font-size: 24px;

    }
    .p-tag{
    font-weight: 400;
    font-size: 14px;
}
.banner-left{
    margin: 25px 16px;
}
.cards{
     grid-template-columns: repeat(2, 1fr); 
    gap: 16px;
    padding: 0 16px;
}
.lover{
    flex-direction: column;
}
.badge{
    display: none;
}
.text-lover h1{
    font-weight: 800;
    font-size: 24px;
}
.text-lover li{
    font-size: 14px;
    line-height: normal;
}
.text-lover{
    margin: 0;
}
.lover{
    margin: auto;
    padding: 30px;
}

.join-img {
  display: grid;
  grid-template-columns: repeat(1,1fr);
}
.zabo {
  
  grid-column: auto;
   grid-row:auto;     
}
.big{
   font-size: 25px;
   margin-bottom: 10px;
   margin-top:40px;
}
.zabo a{
    color: white;
    font-size: 20px;
}
.subscribe-box {
  width: 100%;
}
.footer-container{
     display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.footer-links {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  gap: 0;
}
.footer-social{
    margin-bottom: 150px;
}
}
